@import '../../styles/global.scss';

$ProfileHeaderHeight: 35px;

.profile__header {
  @include displayFlex();
  width: 80%;
  height: $ProfileHeaderHeight;
  color: white;
  background-color: $backgroundColor;
}

.profile__header__list {
  @include displayFlex(space-between);
  width: 80%;
}

.profile__header__list__item {
  @include displayFlex();
  width: 30%;
  height: $ProfileHeaderHeight;
  border-radius: 0px 0px 20px 20px;
  background-color: $backgroundColor;

  button {
    @include truncText();
    font-size: 1.5em;
    color: white;
    &:hover {
      cursor: pointer;
      color: rgb(74, 71, 71);
   }
 }
}

.profile__header__list__item__selected {
  background-color: transparent;

  button {
    &:hover {
      cursor: default;
      color: white;
   }
 }
}

.profile__body {
  @include displayFlex(center, column);
  width: 80%;
  height: calc(90% - $ProfileHeaderHeight);
  overflow: hidden;
}