@import '../../../others/styles/global.scss';

.SendCodeRecoveryPassword {
  gap: 17px;
  @include displayFlex(center, column);
}

.SendCodeRecoveryPassword__errors {
  color: #ff4343;
  text-decoration: underline;
}

@media (min-width: 800px) {

  .SendCodeRecoveryPassword__input {
    width: 250px;
  }

  .SendCodeRecoveryPassword__button {
    font-size: 1.5rem;
  }

}