@import '../../others/styles/global.scss';

$CommunityHeaderHeight: 35px;

.community__header {
  @include displayFlex();
  width: 80%;
  height: $CommunityHeaderHeight;
  color: white;
  background-color: $backgroundColor;
}

.community__header__list {
  @include displayFlex(space-between);
  width: 80%;
}

.community__header__list__item {
  @include displayFlex();
  width: 20%;
  height: $CommunityHeaderHeight;
  border-radius: 0px 0px 20px 20px;
  background-color: $backgroundColor;

  button {
    @include truncText();
    font-size: 1.5em;
    color: white;

    &:hover {
      cursor: pointer;
      color: rgb(74, 71, 71);
    }
  }
}

.community__header__list__item__selected {
  background-color: transparent;

  button {
    &:hover {
      cursor: default;
      color: white;
    }
  }
}

.community__body {
  @include displayFlex(center, column);
  width: 80%;
  height: calc(90% - $CommunityHeaderHeight);
  overflow: hidden;
}