@import '../../../others/styles/global.scss';

.changePasswordForm {
  gap: 17px;
  @include displayFlex(center, column);
}

.changePasswordForm__errors {
  color: #ff4343;
  text-decoration: underline;
}

.changePasswordForm__success {
  @include displayFlex(center, column);
  gap: 10px;

  span {
    color: rgb(214, 211, 211);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: rgb(195, 193, 193);
    }
  }
}

@media (min-width: 800px) {

  .changePasswordForm__input {
    width: 250px;
  }

  .changePasswordForm__button {
    font-size: 1.5rem;
  }

}