$primaryColor: #8B5CF6;
$secondaryColor: #2A2634;

$primaryColorHover: #7C1CED;

$backgroundColor: rgba(139, 92, 246, 0.31);

@mixin flexCenter($justify_content, $flex_direction: row, $align-items: center) {
  display: flex;

  justify-content: $justify_content;
  flex-direction: $flex_direction;
  align-items: $align-items;
}
