$primaryColor: #8B5CF6;
$secondaryColor: #2A2634;

$primaryColorHover: #7C1CED;

@mixin flexCenter($justify_content, $flex_direction: row) {
  display: flex;
  align-items: right;
  justify-content: $justify_content;
  flex-direction: $flex_direction;
}
