@import '../../styles/global.scss';

.notification__body {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 20px 10px;
  @include scrollBar()
}

.notification__body__content {
  @include displayFlex(left);
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  background-color: $backgroundColor;
  &:hover {
    cursor: pointer;
  }
}

// .notification__body__content__view {
//   background-color: $backgroundColor;
//   &:hover {
//     cursor: pointer;
//     background-color: rgba(100, 50, 230, 0.3);
//   }
// }

// .notification__body__content__notView {
//   background-color: $primaryColor;
//   &:hover {
//     cursor: pointer;
//     background-color: $primaryColorHover;
//   }
// }

.notify__content__empty {
  @include displayFlex();
  font-size: 40px;
  width: 100%;
  height: 100%;
  color: rgb(60, 60, 60);
}