@import '../../styles/variables.scss';

.changeNick {
  @include flexCenter(space-between, column, center);
  width: 100%;
  height: 80%;

}

.changeNick__input{
  font-family: 'Oxanium', cursive;
  width: 90%;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
}

.changeNick__button{
  font-family: 'Oxanium', cursive;
  background-color: $primaryColor;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  height: 30px;
  &:hover {
    background-color: $primaryColorHover;
  }
}

@media (max-width: 700px){
  .changeNick h3{
    font-size: 25px;
  }
  .changeNick__input{
    font-size: 12px;
  }
}
