@import '../../styles/variables.scss';

.historic {
  @include displayFlex(center, column);
  width:80%;
  height: 90%;
  padding: 20px 60px 50px 60px;
  border-radius: 0px 0px 50px 50px;
  background-color: $backgroundColor;
  color: white;
}

.historic__header{
  @include displayFlex(center, column);
  width: 100%;
  font-size: 1.5em;
  padding: 0px 100px 0px 100px;
}

.historic__body{
  width: 100%;
  // overflow-x: hidden;
  @include scrollBar();
}

.historic__columns {
  display: none;
}


@media (min-width:1200px) {

  .historic {
    padding: 20px 200px 50px 200px;
  }

  .historic__header__title{
    font-size: 3em;
  }

  .historic__columns{
    @include displayFlex(space-between);
    width: 100%;
    font-size: 1.5em;
    margin: 20px;
  }
}
