@import '../../others/styles/global.scss';

.community {
  @include displayFlex(unset, column);
  width: 80%;
  height: 80%;
  padding: 20px 60px 50px 60px;
  border-radius: 0px 0px 50px 50px;
  background-color: $backgroundColor;
  color: white;
}

.community__header{
  @include displayFlex(center);
  width: 100%;
  font-size: 1.2em;
  padding-bottom: 20px;
}

.community__header__item {
  @include displayFlex();
  width: 33%;
}

.community__body{
  width: 70%;
  padding-left: 10px;
  @include scrollBar(10px, 20px);
}


.community__header__icon {
  @include displayFlex(center);
  padding: 4px;
  border-radius: 50%;
  background-color: $buttonColor;
  transition: width 0.6s, padding 0.6s;
  &:hover  {
    cursor: pointer;
    background-color: $buttonColorHover;
  }
}

.community__header__search {
  @include displayFlex(left);
  .community__header__icon {
    min-width: 40px;
    min-height: 40px;
  }
  overflow: hidden;
  transition: width 0.6s, padding 0.6s;
}


.community__header__search__input {
  @include displayFlex();
  width:100%;
  text-align: center;
  color: white;
  height: 40px;
  font-size:20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: $primaryColorHover;
  transition: width 0.6s;
}

.trasition__search {
  width: 0px;
  padding: 0px;
}



@media (min-width:1200px) {
  .community {
    padding: 20px 100px 50px 100px;
  }

  .community__header {
    font-size: 1.5em;
  }
}
