@import '../../others/styles/global.scss';

.button__search {
  @include displayFlex(left);

  .button__search__icon {
    min-width: 40px;
    min-height: 40px;
  }

  overflow: hidden;
  transition: width 0.6s,
  padding 0.6s;
}

.button__search__icon {
  @include displayFlex(center);
  padding: 4px;
  border-radius: 50%;
  background-color: $buttonColor;
  transition: width 0.6s, padding 0.6s;

  &:hover {
    cursor: pointer;
    background-color: $buttonColorHover;
  }
}

.button__search__input {
  @include displayFlex();
  width: 100%;
  text-align: center;
  color: white;
  height: 40px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: $primaryColorHover;
  transition: width 0.6s;
}
