@import '../../styles/variables.scss';

.modal {
  @include displayFlex(center, column, center);

  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  .modal__container{
    position: fixed;
    background-color:white;
    color: black;
    width: 60%;
    height: 60%;
    min-width: 300px;
    max-width: 650px;
    min-height: 100px;
    max-height: 250px;
    border-radius: 20px;
    .modal__container__closeButton {
      background-color: transparent;
      border: none;
      outline: none;
      width: 32px;
      height: 32px;
      right: calc(-100% + 44px);
      cursor:pointer;
      top: 16px;
      display: flex;
      position: relative;
      align-items: center;
      &:before,
      &:after{
        content: ' ';
        position: absolute;
        width: 2.5px;
        height: 24px;
        background-color: black;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.modal__container__content {
  @include displayFlex(space-around, column, center);
  height: 90%;
  padding: 20px;
  font-size: 12px;
  font-size: 1.3em;
}
