@import '../../styles/variables.scss';

.userImage__button_text{
  display: none;
}

.userImage__image img{
  @include flexCenter(center, row, right);
  border-radius: 150px;
  cursor: pointer;
  background-color: $primaryColor;
  color: white;
  padding: 8px;
  width: 250px;
  height: 250px;
}

.userImage__image:hover {
  filter:grayscale(0.5);
  .userImage__button_text {
    @include flexCenter(center, row, right);
    position: fixed;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $primaryColor;
    filter:grayscale(0.5);
    top: 90%;
    width: 250px;
    line-height: 30px;
    height: 30px;
  }
}
