@import '../../styles/variables.scss';

.userImage__button_text {
  display: none;
}

.userImage__image img{
  @include flexCenter(center, row,start);
  border-radius: 150px;
  cursor: pointer;
  background-color: $primaryColor;
  color: white;
  padding: 8px;
  margin-right: 10px;
  width: 250px;
  height: 250px;
}

.userImage__image:hover {
  filter:grayscale(0.8);
  .userImage__button_text {
    @include flexCenter(center, row, right);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    top: -75%;
    position: relative;
    height: 0px;
  }
}

@media (min-width:300px){
  .userImage__image img{
    @include flexCenter(center, row, center);
    border-radius: 150px;
    margin: 0;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }

  .userImage__image:hover {
    filter:grayscale(0.8);
    .userImage__button_text {
      cursor: pointer;
      color: black;
      top: -75%;
    }
  }
}


@media (min-width:950px){
  .userImage__image:hover {
    @include flexCenter(center, row, start);
    filter:grayscale(0.8);
    .userImage__button_text {
      @include flexCenter(center, row, start);
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: black;
      top: 28%;
      position: absolute;
      height: 0px;
    }
  }
}
