@import '../../others/styles/global.scss';

.groupConfig {
  @include displayFlex(space-around);
  width: 100%;
  height: 100%;
}

.groupConfig__infos {
  @include displayFlex(space-around, column);
  width: 40%;
  height: 80%;
  font-size: 35px;
}
.groupConfig__changeSecurity {
  @include displayFlex(space-around, column);
  height:  100%;
  width: 100%;
  
}


.groupConfig__changeSecurity__input {
  width: 60%;
  height: 20px;
  border-radius: 10px;
  background-color: $primaryColor;
  &::placeholder {
    color: rgba(255, 255, 255, 0.639);
  }
  text-align: center;
}

.groupConfig__changeSecurity__saveButton{
  width: 15%;
  height: 20px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  background-color: $buttonColor;
  &:hover{
    background-color: $buttonColorHover;
  }
}

.groupConfig__infos__image {
  @include displayFlex(center);
  img {
    width: 220px;
    min-width: 220px;
    height: 220px;
    min-height: 220px;
    
    border-radius: 50%;
    border: 5px solid $primaryColor;
  }

  .groupConfig__infos__image__text {
    display: none;
  }
  
  &:hover {
    filter: grayscale(0.8);
    cursor: pointer;
    .groupConfig__infos__image__text {
      @include displayFlex(center);
      position: absolute;
    }
  }
  
}

.groupConfig__infos__segurityButton {
  color: white;
  background-color: $buttonColor;
  border-radius: 20px;  
  width: 60%;
  height: 40px;
  font-size: 30px;
  &:hover {
    background-color: $buttonColorHover;
  }
}

.groupConfig__members {
  @include displayFlex(unset, column, flex-start);
  width: 40%;
  height: 80%;
}

.groupConfig__members__addMember {
  @include displayFlex();
  width: 100%;
  padding-bottom: 20px;
  button {
    border-radius: 20px;
    color: white;
    font-size: 30px;
    width: 60%;
    background-color: $buttonColor;
    &:hover {
      background-color: $buttonColorHover;
    }
  }
}

.groupConfig__members__body {
  width: 100%;
  @include scrollBar(10px, 20px);
}