@import '../../styles/global.scss';

@mixin transitionTopDiv {
  position: absolute;
  transition: top 0.6s;
  border: 3px solid $primaryColor;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  background-color: $secondaryColor;
  z-index: -1;
}

.navBar {
  @include displayFlex(center, column);
  width: 100%;
  height: 100px;
  min-width: 400px;
  color: white;
  color-scheme: dark;
  border-bottom: 3px solid $primaryColor;
  padding: 0px 3% 0px 3%;
  background-color: $secondaryColor;
  z-index: 5;
}

.navBar__list {
  @include displayFlex(space-between);
  width: 100%;
  height: 100%;
  background-color: $secondaryColor;
}

.navBar__divider {
  display: none;
  z-index: 2;
}

.navBar__icons {
  @include displayFlex(center, column);
  color: white;
  margin: 12px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    color: rgb(60, 60, 60);
  }
}



.navBar__logo {
  @include displayFlex();
  width: 25%;
  max-width: 300px;
  max-height: 100px;

  img {
    width: 90%;
  }

  &:hover  {
    cursor: pointer;
    filter: grayscale(0.6);
  }
}



.navBar__pages {
  @include displayFlex();
  position: relative;
  width: 25%;
  height: 100%;
  border-right: 3px solid #4F456A;
  border-left: 3px solid #4F456A;
}

.navBar__menu {
  @include displayFlex(space-around, column);
  @include transitionTopDiv;
  width: 100%;
  height: 165px;
}




.navBar__notify {
  @include displayFlex();
  position: relative;
  width: 65px;
  height: 100%;
}

.navBar__notify__body {
  @include displayFlex();
  @include transitionTopDiv;
  width: 300px;
  height: 300px;
  padding: 10px 0px 10px 10px;
}

.navBar__notify__icon {
  width: 50px;
  height: 50px;
  .navBar__icons {
    margin: 0;
  }
  &:hover {
    #navBar__notify__icon {
      cursor: pointer;
      color: rgb(60, 60, 60);
    }
    .notify__icon__notEmpty {
      cursor: pointer;
      color: rgb(60, 60, 60);
      border-color: rgb(60, 60, 60);
      background-color: rgb(130, 0, 0);
    }
  }
}

.notify__icon__notEmpty {
  @include displayFlex();
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50px;
  left: 30px;
  border-radius: 50%;
  border: 2.5px solid white;
  background-color: red;
  &:hover {
    cursor: pointer;
    color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
    background-color: rgb(130, 0, 0);
    #navBar__notify__icon {
      cursor: pointer;
      color: rgb(60, 60, 60);
    }
  }
}


.navBar__profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid $primaryColor;
  background-repeat: none;
  background-size: cover;
  background-position: 50% 50%;
  &:hover{
    border-color: $primaryColorHover;
  }
}



.navBar__logout {
  min-width: 75px;
  color: $primaryColor;
  &:hover  {
    color: $primaryColorHover;
  }
}


@media (min-width: 1200px) {

  .navBar__divider {
    display: block;
    border-right: 3px solid #4F456A;
    height: 100%;
  }



  .navBar__pages{
    @include displayFlex(space-around);
    width: 35%;
    border: none;
  }

  .navBar__menu {
    display: contents;
  }

  .navBar__menu__icon {
    display: none;
  }

}
