@import '../../styles/variables.scss';

$chatSize: 22;

.navBar {
  @include flexCenter(space-between, column, center);
  font-family: 'Oxanium', cursive;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 400px;
  height: 80px;
  border-bottom: 3px solid;
  border-color: $primaryColor;
  background-color: $secondaryColor;
  flex-wrap: wrap;
}

.navBar__list {
  @include flexCenter(space-between, row, center);
  padding: 0 20px;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  color: white;
  list-style-type: none;
  font-size: 12px;
}

.navBar__divider {
  border-right: 1px solid #4F456A;
  height: 100%;
}

.navBar__div__menu{
  @include flexCenter(center, column, revert);
  text-align: center;
}

.navBar__achievements,
.navBar__historic,
.navBar__ladderLevel{
  color: white;
  margin-top: 10px;
  text-decoration: none;
  &:hover {
    color: rgb(65, 62, 62);
  }
}

.navBar__ladderLevel{
  margin-bottom: 10px;
}

.navBar__menu {
  @include flexCenter(space-between, column, center);
  position: absolute;
  top:-200px;
  border-radius: 8px;
  width: 100px;
  height: auto;
  transform: translateX(-28%);
  background-color: $primaryColor;
  transition: all 0.5s;
  z-index: 1;
}

.navBar__menu:hover {
  top: 55px;
}

.navBar__menus__list {
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 2;
  :hover{
    color: gray;
  }
}

.navBar__menus__list:hover ~ .navBar__menu {
  top: 55px;
  z-index: 1;
  opacity: 1;
}

.navBar__logo {
  @include flexCenter(center);
  max-width: 300px;
  max-height: 100px;
  .navBar__logo__image{
    width: 130px;
  }
  &:hover  {
    cursor: pointer;
    filter: grayscale(0.6);
  }
}

.navBar__chats {
  @include flexCenter(center, column);
  font-size: 30px;
  .navBar__chats__link{
    @include flexCenter(center, column, center);
    color: white;
    text-decoration: none;
    &:hover{
      color: gray;
    }
  }
  .navBar__chats__icon {
    size: 32;
  }
  .navBar__chats__text{
    font-size: 10px;
  }
}

.navBar__user {
  @include flexCenter(center);
  font-size: 15px;
  border-radius: 25px;
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: $primaryColor;
  &:hover{
    background-color: $primaryColorHover;
  }
}

.navBar__user__icon {
  border-radius: 50%;
  height:25px;
  width: 25px;
  background-repeat: none;
  background-size: cover;
  background-position: 50% 50%;
}

.navBar__user__name {
  padding-right: 5px;
  padding-left: 5px
 }

.navBar__logout {
  @include flexCenter(center, column);
  color: $primaryColor;
  &:hover  {
    cursor: pointer;
    color: $primaryColorHover;
  }
}

@media (min-width: 600px) and (max-width:850px) {
  .navBar {
    min-width: 100%;
  }

  .navBar__logo {
    .navBar__logo__image{
      width: 200px;
    }
  }

  .navBar__divider {
    border-right: 2px solid #4F456A;
  }

  .navBar__user {
    font-size: 20px;
    height: 40px;
  }

  .navBar__user__icon {
    height:30px;
    width: 30px;
  }

  .navBar__logout {
    font-size: 15px;
  }
}

@media (min-width: 850px) and (max-width:1200px) {
  .navBar {
    min-width: 100%;
    height: 100px;
  }

  .navBar__logo {
    .navBar__logo__image{
      width: 250px;
    }
  }

  .navBar__divider {
    border-right: 3px solid #4F456A;
  }

  .navBar__chats {
    font-size: 40px;
    .navBar__chats__text{
      font-size: 20px;
    }
  }

  .navBar__user {
    font-size: 25px;
    height: 55px;
  }

  .navBar__user__icon {
    height: 45px;
    width: 45px;
  }

  .navBar__logout {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .navBar {
    min-width: 100%;
    height: 100px;
  }

  .navBar__list {
    max-width: 100%;
  }

  .navBar__logo {
    .navBar__logo__image{
      width: 250px;
    }
  }

  .navBar__divider {
    border-right: 3px solid #4F456A;
  }

 .navBar__chats {
    font-size: 40px;
    .navBar__chats__text{
      font-size: 20px;
    }
  }

  .navBar__user {
    font-size: 30px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
  }

  .navBar__user__icon {
    height: 50px;
    width: 55px;
  }

  .navBar__logout {
    font-size: 20px;
  }

  .navBar__achievements,
  .navBar__historic,
  .navBar__ladderLevel{
    margin: 12px;
    font-size: 20px;
  }

  .navBar__div__menu{
    @include flexCenter(center, row, center);
    justify-items: center;
    width: 35%;
    height: 100%;
    font-size: 20px;
  }

  .navBar__menu {
    @include flexCenter(space-around, row, center);
    background: none;
    position: relative;
    display: contents;
    top:0px;
    width: auto;
    transition: 0;
    justify-items: center;
  }

  .navBar__menus__list {
    display: none;
  }

  .navBar__menus__list {
    padding: 5px 10px;
    border-radius: 8px;
    z-index: 2;
    :hover{
      background-color: #4F456A;
      background-size: cover;
    }
  }

  .navBar__menu:hover {
    top: 0px;
  }

}
