@import '../../../styles/global.scss';

.notificationFriend__frontSide {
  @include displayFlex(center, column);
  height: 70px;
  position: relative;
  overflow: hidden;
  transition: width 1s;
}

.notificationFriend__frontSide__nick {
  font-size: 25px;
  @include truncText();
}

.notificationFriend__frontSide__text {
  font-size: 20px;
  @include truncText();
}

.notificationFriend__backSide {
  @include displayFlex(center);
  background-color: $primaryColorHover;
  height: 70px;
  border-radius: 10px;
  position:absolute;
  overflow: hidden;
  transition: width 1s;
  &:hover {
    cursor: pointer;
    background-color: $primaryColor;
  }
}

.notificationFriend__backSide__column {
  @include displayFlex(space-around, column);
  width: 270px;
  height: 60px;
}

.notificationFriend__backSide__button {
  @include displayFlex();
  @include truncText();
  p {
    margin-right: 10px;
  }
}