@import '../../others/styles/global.scss';

.game {
  @include displayFlex(center);
  width: 100vw;
  height: 100vh;
  background-image: url('/canvas-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#game__modal {
  .modal__container__content {
    position: absolute;
    top: 30px;
    font-size: 24px;
  }
}

.modal {
  top: 0;
  height: 100%;
}

@media (min-height: 610px) {
  .game {
    height: 100vh;
  }
}