@import '../../others/styles/global.scss';

.game {
  @include displayFlex(center);
  width: 100%;
  height: 100vh;
  background-image: url('/canvas-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
