@import '../../styles/variables.scss';

.game {
  display: flex;
  justify-content: center;
}

.canvas {
  border: 2px solid black;
  background-image: url('/canvas-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.canvas-div {
}