@import '../../../styles/variables.scss';


.user__card {
	@include displayFlex(left);
	padding: 10px;
	margin: 10px;
	border-radius: 50px;
	background-color: $backgroundColor;
	overflow: hidden;
	&:hover  {
		cursor: pointer;
		background-color: $primaryColorHover;
	}
}

.user__card__icon {
	min-width: 45px;
	min-height: 45px;
	border: solid 2px;
	border-radius: 50%;
	background-repeat: none;
	background-size: cover;
	background-position: 50% 50%;
}

.user__card__name {
	font-size: x-large;
	margin-left: 10px;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
