@import '../../styles/variables.scss';

.profileCard {
  @include displayFlex(center, column);
  font-size: 1.5em;
}

.profileCard__infos__name {
  margin-top: 15px;
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profileCard__infos__nick{
  @include displayFlex(center, row);
}

.profileCard__infos__button {
  @include displayFlex(center);
  margin-left: 15px;
  border-radius: 5px;
  &:hover  {
    cursor: pointer;
    color: gray;
  }
}

@media (min-width:1200px) {
  .profileCard {
    font-size: 2em;
  }

  .profileCard__infos__name {
    max-width: 400px;
  }
}
