@import '../../../others/styles/global.scss';

.signin__form {
    gap: 17px;
    @include displayFlex(center, column);
}

.signin__form__image {
    @include displayFlex(center);

    .signin__form__image__icon {
        padding: 10px;
        border-radius: 50%;
        background-color: $primaryColor;
        width: 140px;
        height: 140px;
    }

    .signin__form__button_text {
        display: none;
    }

    &:hover {
        filter: grayscale(0.8);
        cursor: pointer;

        .signin__form__button_text {
            @include displayFlex(center);
            position: absolute;
        }
    }
}

.signin__sigin {
    color: rgb(214, 211, 211);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: rgb(195, 193, 193);
    }
}

@media (min-width: 800px) {
    .signin__form__image {

        .signin__form__image__icon {
            height: 222px;
            width: 222px;
        }
    }

    .siginin__form__input {
        width: 250px;
    }

    .signin__form__button {
        font-size: 2rem;
    }
}