@import '../../styles/variables.scss';

.gameMenu__commands {
  @include flexCenter(center, column);
  padding: 15px;
  gap: 17px;
  h2 {
    font-weight: 400;
    font-size: 2rem;
  }
}

.gameMenu__commands__list {
  list-style-type: none;

  li {
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .gameMenu__commands {
    flex-direction: column;
    border-top: none;
    h2 {
      font-size: 2.3rem;
    }
  }
}

