@import '../../../styles/global.scss';

.notificationChallenge{
  @include displayFlex(space-around, column);
  width: 100%;
  // background-color: $primaryColorHover;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  strong  {
    font-size: 18px;
  }
  &:hover  {
    cursor: pointer;
    // background-color: $primaryColorHover;
  }
}

.notificationChallenge__buttons{
  @include displayFlex();
  text-align: center;
}

.notificationChallenge__buttons__accept,
.notificationChallenge__buttons__reject{
  @include displayFlex(space-around, row, end);
  text-align: center;
  width: 80px;
  font-size: 15px;
  :hover {
    cursor: pointer;
    color: gray;
  }
}