@import '../../styles/global.scss';

.validateTfa {
  .modal {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .modal__container {
    @include displayFlex(flex-end, column);
  }
  .modal__container__content {
    height: 100%;
  }
  .modal__container__closeButton__div {
    display: none;
  }
}

.validateTfa__sendCode {
  @include displayFlex(space-around, column);
  padding-top: 70px;
  height: 100%;
  width: 100%;
}

.validateTfa__title {
  font-size: 25px;
}

.validateTfa__buttons {
  @include displayFlex(space-around);
  width: 80%;
}

.validateTfa__button__sendCode {
  @include displayFlex();
  width: 30%;
  min-width: 90px;
  height: 30px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: green;
  &:hover {
    background-color: rgb(10, 90, 10);
  }
}

.validateTfa__verify__code {
  @include displayFlex(space-around, column);
  height: 100%;
  width: 100%;
  button {
    color : white;
    font-size: 17px;
  }
}

.validateTfa__form {
  @include displayFlex(space-around, column);
  width: 80%;
  height: 60%;
}

.validateTfa__form__input {
  @include displayFlex();
  text-align: center;
  width: 90%;
  color: white;
  height: 40px;
  font-size:20px;
  border-radius: 20px;
  padding: 0px 30px 0px 30px;
  background-color: $backgroundColor;
}

.validateTfa__button__validate {
  @include displayFlex();
  width: 30%;
  min-width: 90px;
  height: 30px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: green;
  &:hover {
    background-color: rgb(10, 90, 10);
  }
}

.validateTfa__loading {
  @include displayFlex();
  width: 100%;
  height: 30px;
}

.validateTfa__loading__div {
  @include displayFlex(space-between);
  width: 200px;
  font-size: 20px;
}

































