@import '../../../styles/variables.scss';

.profileCard {
  @include displayFlex(space, column);
  font-size: 1.5em;
}

.profileCard__infos {
  margin-top: 15px;
  max-width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}

.profileCard__infos__nick{
  @include displayFlex(center, row);
  margin-top: 10px;
  margin-bottom: 10px;
}

.profileCard__infos__button {
  @include displayFlex(center);
  margin-left: 15px;
  border-radius: 5px;
  &:hover  {
    cursor: pointer;
    color: gray;
  }
}

@media (min-width:1200px) {
  .profileCard {
    font-size: 1.5em;
  }
  
  .profileCard__infos {
    max-width: 400px;
  }
}
