@import '../../../styles/variables.scss';

.userImage__image {
  @include displayFlex(center);

  img {
    width: 225px;
    height: 225px;
    padding: 10px;
    border-radius: 50%;
    background-color: $primaryColor;
  }

  .userImage__button_text {
      display: none;
  }

  &:hover {
    filter: grayscale(0.8);
    cursor: pointer;
    .userImage__button_text {
      @include displayFlex(center);
      position: absolute;
    }
  }
}
