@import '../../styles/variables.scss';

.gameMenu__watchGame {
  @include displayFlex(flex-start, column);
  padding: 15px ;
  gap: 17px;
  height: 100%;
  width: 100%;
  h2 {
    margin-top: 100px;
    font-weight: 400;
    font-size: 2rem;
  }
}

.gameMenu__watchGame__list {
  list-style-type: none;
  overflow-y: auto;
  height: auto;
  li {
    @include displayFlex(center);
    margin-top: 20px;
    background-color: $secondaryColor;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .gameMenu__watchGame {
    height: 100%;
    width: 100%;
    border-top: none;
    h2 {
      font-size: 2.3rem;
    }
  }
}

