@import '../../styles/variables.scss';

.historicMatch {
  @include flexCenter(space-between, row, center);
  width: 80%;
  max-height: 120px;
  border-radius: 20px;
  padding: 4px;
  position: relative;
  top: 80px;
  margin-bottom: 10px;
}

.historicMatch__datas {
  @include flexCenter(space-between, row, center);
}

.historicMatch__player {
  @include flexCenter(space-around, row, center);
}

@media (max-width: 1201px){
  .historicMatch {
    font-size: 10px;
    background-color: $backgroundColor;
    width: 90%;
  }


  .historicMatch__player img{
    width: 50px;
    height: 50px;
    border: 3px solid $primaryColor;
    background-color: $backgroundColor;
    border-radius: 50%;
  }

  .historicMatch__player__nick{
    text-align: center;
    align-content: center;
    background-color: $backgroundColor;
    border-radius: 10px;
    font-size: 1.3em;
    height: 20px;
    width: max-content;
    overflow: hidden;
    max-width: 60px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .historicMatch__datas {
    width: 100%;
    padding: 0 20px 0px 20px ;
  }
}

@media (min-width:1200px) {
.historicMatch {
  font-size: 2em;
}

.historicMatch__player {
  justify-items: center;
}

.historicMatch__player img{
  width: 70px;
  height: 70px;
  border: 5px solid $primaryColor;
  background-color: $backgroundColor;
  border-radius: 50%;
  margin-right: 15px;
}

.historicMatch__player__nick{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  background-color: $backgroundColor;
  border-radius: 10px;
  font-size: 1.2em;
  height: 50px;
  width: 100%;
  max-width: 160px;
  overflow: hidden;

}

.historicMatch__datas {

  position: relative;
  left: 10%;
  width: 80%;
  padding: 0;
}

.historicMatch__date {
  width: 40%;
}

.historicMatch__result {
  width: 40%;
  position: relative;
  right: 10%;

}
}
