@import '../../../styles/variables.scss';


.notificationMessage{
  @include displayFlex(space-around, column);
  margin-top: 10px;
  width: 95%;
  background-color: $primaryColorHover;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  strong  {
    font-size: 18px;
  }
}

.notificationMessage__button{
  @include displayFlex(space-around);
  text-align: center;
  width: 100px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
    color: gray;
  }
}

