@import '../../../others/styles/global.scss';

.notificationMessage__frontSide {
  @include displayFlex(center, column);
  height: 70px;
  overflow: hidden;
  position: absolute;
  transition: width 1s;
}

.notificationMessage__frontSide__nick {
  font-size: 25px;
  @include truncText();
}

.notificationMessage__frontSide__text {
  font-size: 20px;
  @include truncText();
}

.notificationMessage__backSide {
  @include displayFlex();
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  position:absolute;
  transition: width 1s;
}

.notificationMessage__backSide__button {
  @include displayFlex(space-around);
  @include truncText();
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  background-color: $buttonColor;
  p {
    color: white;
    @include displayFlex(space-around);
  }
  &:hover {
    cursor: pointer;
    background-color: $buttonColorHover;
  }
}