@import '../../../styles/global.scss';

.friendCard {
  @include displayFlex(space, column);
  font-size: 1.5em;
}

.friendCard__infos {
  margin-top: 15px;
  max-width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: $backgroundColor;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.friendCard__infos__nick{
  @include displayFlex(center, row);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $backgroundColor;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.friendCard__infos__button {
  @include displayFlex(center);
  margin-left: 15px;
  border-radius: 5px;
  &:hover  {
    cursor: pointer;
    color: gray;
  }
}

.friendCard_image {
  @include displayFlex(center);
  width: 260px;
  height: 260px;
  padding: 10px;
  border-radius: 50%;
  background-color: $primaryColor;
}

@media (min-width:1200px) {
  .friendCard {
    font-size: 1.5em;
  }

  .friendCard__infos {
    max-width: 400px;
  }
}
