@import '../../../others/styles/global.scss';

.friendCard {
  @include displayFlex(space, column);
  font-size: 1.5em;
}

.friendCard__infos {
  margin-top: 15px;
  // max-width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: $backgroundColor;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.friendCard__infos__nick{
  @include displayFlex(center, row);
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: $backgroundColor;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 30px
}


.friendCard_image {
  @include displayFlex(center);
  width: 220px;
  height: 220px;
  padding: 10px;
  border-radius: 50%;
  background-color: $primaryColor;
}

@media (min-width:1200px) {
  .friendCard {
    font-size: 1.5em;
  }

  .friendCard__infos {
    max-width: 400px;
  }
}

.friendCard__buttons{
  @include displayFlex(space-around);
  width: 150%;
  height: 35px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  
}


.friendCard__button__icon{
  width: 25%;
  color: white;
  border-radius: 10px;
  height: 45px;
  padding: 5px;
  background-color: $buttonColor;
  &:hover {
    background-color: $buttonColorHover;
    cursor: pointer;
    }
}