@import '../../../others/styles/global.scss';

.forgotPasswordForm {
  gap: 17px;
  @include displayFlex(center, column);
}

.forgotPasswordForm__errors {
  color: #ff4343;
  text-decoration: underline;
}

.forgotPasswordForm__goBack {
  color: rgb(214, 211, 211);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: rgb(195, 193, 193);
  }
}

.forgotPasswordForm__footer {
  @include displayFlex(center, column);
  margin-top: 15px;
}


@media (min-width: 800px) {

  .forgotPasswordForm__form__input {
    width: 250px;
  }

  .forgotPasswordForm__form__button {
    font-size: 1.5rem;
  }

}