 @import '../../others/styles/global.scss';

 .signin {
   // max-width: 1344px;
   margin-left: auto;
   margin-right: auto;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 27px;
 }

 .signin__logo {
   background-image: url('/pong-game-minimal.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 157px;
   width: 192px;
 }

 //  .signin__img {
 //    margin-bottom: 7rem;
 //  }

 .signin__button {
   //  font-size: 3rem;
   font-size: 1.5rem;
   line-height: 1;
   color: white;
   background-color: $primaryColor;
   padding: 0.75rem 1rem 0.75rem 1rem;
   height: auto;
   width: 180px;
   border-radius: 20px;
   //  font-weight: 700;
   font-weight: 400;
   border-width: 2px;
   border-color: white;


   &:hover {
     background-color: $primaryColorHover;
     cursor: pointer;
   }
 }