 @import '../../others/styles/global.scss';

 .signin {
   margin-left: auto;
   margin-right: auto;
   height: 100vh;
   width: 100%;
   @include displayFlex(center, column);
   gap: 27px;
 }

 .signin__options {
   gap: 27px;
   @include displayFlex(center, column);
 }

 .signin__form {
   gap: 17px;
   @include displayFlex(center, column);
 }

 .signin__form__image {
   @include displayFlex(center);

   .signin__form__image__icon {
     padding: 10px;
     border-radius: 50%;
     background-color: $primaryColor;
   }

   .signin__form__button_text {
     display: none;
   }

   &:hover {
     filter: grayscale(0.8);
     cursor: pointer;

     .signin__form__button_text {
       @include displayFlex(center);
       position: absolute;
     }
   }
 }

 .signin__logo {
   background-image: url('/pong-game-minimal.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 157px;
   width: 192px;
 }


 .signin__button {
   font-size: 18px;
 }

 .signin__button__root {
   color: white;
   padding: 0.75rem 1rem 0.75rem 1rem;
   width: 180px;
   border-radius: 15px;
   font-weight: 400;

   &:hover {
     background-color: $primaryColor;
     cursor: pointer;
   }
 }

 @media (min-width: 700px) {
   .signin__button__root {
     font-size: 3rem;
     width: 300px;
     font-weight: 700;
   }

   .signin__button {
     font-size: 24px;
   }
 }

 @media (min-width: 800px) {
   .signin__button__root {
     width: 600px;
     height: 80px;
   }

   .signin__button__icon {
     width: 3rem;
     height: 3rem;
   }

   .signin__button {
     font-size: 3rem;
   }

   .signin__logo {
     background-image: url('/pong-game.png');
     height: 160px;
     width: 690px;
   }

   .signin__form__image__icon {
     height: 222px;
     width: 222px;
   }

   .siginin__form__input {
     width: 250px;
   }

   .signin__form__button {
     font-size: 2rem;
   }
 }