@import '../../../others/styles/global.scss';

.card__chat {
  @include displayFlex(space-between);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: $backgroundColor;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: $primaryColorHover;
  }
}

.card__chat__icon {
  @include displayFlex(flex-end, row, flex-end);
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border: solid 2px;
  border-radius: 50%;
  background-repeat: none;
  background-size: cover;
  background-position: 50% 50%;
}

.card__chat_count {
  @include displayFlex();
  position: relative;
  transform: translate(40%, 40%);
  width: 70%;
  height: 70%;
  border: 2px solid;
  border-radius: 50%;
  background-color: $buttonColor;
}

.card__chat__name {
  font-size: x-large;
  margin-left: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}