@import '../../../others/styles/global.scss';

.signin__form {
    gap: 17px;
    @include displayFlex(center, column);
}

.signin__createAccount {
    color: rgb(214, 211, 211);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: rgb(195, 193, 193);
    }
}

.signin__error {
    color: #ff4343;
    text-decoration: underline;
}

.signin__footer {
    @include displayFlex(center, column);
    gap: 10px;
}

@media (min-width: 800px) {
    .siginin__form__input {
        width: 250px;
    }

    .signin__form__button {
        font-size: 2rem;
    }
}