@import '../../others/styles/global.scss';

.spinner-container {
    @include displayFlex(center, column);
    width: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
}

.spinner-container p {
    text-align: center;
    margin: 5px 0 0 0;
    color: $primaryColor;
    font-size: 42px;
}

#inner {
    animation: rotate linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: border-box;
}

#outer {
    animation: rotate-inverse linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: border-box;

}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-inverse {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
